@charset "UTF-8";

html {
    overflow: hidden;
    cursor: none;
    touch-action: none;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

#selector {
    cursor: none;
}

body {
    margin: 0;
    padding: 0;
}

a:focus {
    outline: 0;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

/* h1, h2 {
    display: inline;
} */

.popup {
  display: none;
  position: fixed;
  width: 1500px;
  left: 250px;
  height: 780px;
  top: 150px;
  background: #FFF;
  z-index: 15820;
}

#popup1 {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

#popup2:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup2:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -15884;
}

/* Content */

.bg_thema {
  width: 1920px;
  height: 1080px;
  background-image:url("/public/images/bg_main.jpg");
  z-index: 23;
}



.bg_klima {
  width: 1920px;
  height: 1080px;
  background-image:url("/public/images/bg_klima.jpg");
  z-index: 23;
}


.bg_geo {
  width: 1920px;
  height: 1080px;
  background-image:url("/public/images/bg_geo.jpg");
  z-index: 23;
}



.bg_lebens {
  width: 1920px;
  height: 1080px;
  background-image:url("/public/images/bg_lebens.jpg");
  z-index: 23;
}



.bg_national {
  width: 1920px;
  height: 1080px;
  background-image:url("/public/images/bg_national.jpg");
  z-index: 23;
}



.bg_besuch {
  width: 1920px;
  height: 1080px;
  background-image:url("/public/images/bg_besuch.jpg");
  z-index: 23;
}




.silhouette {
  width: 1920px;
  height: 1080px;
  background-image:url("/public/images/silhouette.png") ;
  background-repeat: no-repeat;
  z-index: 235;
  background-position: bottom;

}




.icons {

  align-content: center;
  width: 1820px;
  height: 280px;
  z-index: 2350;
  position: absolute;
  top: 800px;
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
  align-content: center;
  left: 120px;

}


.iconfield:hover {

  text-decoration:none;
  color:#FFFFFF;
  font-size: 18pt;

}

.iconfield {
  cursor:pointer;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  text-align:center;
  margin-top:0px;
  width:150px;
  height:180px;
  text-decoration:none;
  color: #fff;
  font-size: 18pt;
  display: grid;
  /* display: inline; */

}

.iconfiled:image:hover {

  border-image: 8px;

}


.iconfield:hover {

  text-decoration:none;
  color:#FFFFFF;
  font-size: 18pt;


}
.iconwidth {
  width: 280px;
  display: table-cell;
	position: relative;

}


h1{
    display:inline;
    background-color:#282828;
    color:#fff;
	font-size: 18pt;
	padding: 25px;
}




.subs {

  align-content: center;
  width: 1820px;
  height: 280px;
  z-index: 2350;
  position: fixed;
  top: 400px;
  display:table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/




}

.klima {
 position: fixed;
 left: 100px;
	top: 50px;
	z-index: 50;

}




.klima_head {
	z-index: 2;
 position: fixed;
 left: 340px;
	top: 140px;
	font-size: 60pt;
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  margin-top:0px;
  text-decoration:none;
  color: #fff;
	background-color:#25313b;
	padding: 12px;
	padding-left: 80px;


}





.geo_head {
	z-index: 2;
 position: fixed;
 left: 340px;
	top: 140px;
	font-size: 60pt;
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  margin-top:0px;
  text-decoration:none;
  color: #fff;
	background-color:#3c2715;
	padding: 12px;
	padding-left: 80px;


}


.lebens_head {
	z-index: 2;
 position: fixed;
 left: 340px;
	top: 140px;
	font-size: 60pt;
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  margin-top:0px;
  text-decoration:none;
  color: #fff;
	background-color:#303910;
	padding: 12px;
	padding-left: 80px;


}



.national_head {
	z-index: 2;
 position: fixed;
 left: 340px;
	top: 140px;
	font-size: 60pt;
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  margin-top:0px;
  text-decoration:none;
  color: #fff;
	background-color:#b7790b;
	padding: 12px;
	padding-left: 80px;


}


.besuch_head {
	z-index: 2;
 position: fixed;
 left: 340px;
	top: 140px;
	font-size: 60pt;
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  margin-top:0px;
  text-decoration:none;
  color: #fff;
	background-color:#7e0e15;
	padding: 12px;
	padding-left: 80px;


}

#my_canvas {
    position: absolute;
    top: 150px;
    width: 155px;
    height: 155px;
    border-style: none;
    z-index: 9000;
}
