<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Panoramen Raum6</title>

<script type="text/javascript" src="/public/app.js" defer></script>
</head>

<body background="/public/images/01_idle.jpg">
	<canvas id="loader_canvas" width="500" height="500" style="position:absolute; top: 58px; left:86px; z-index: 199;"> </canvas>

	<div style="position: fixed;  left:200px; top: 610px;  z-index: 99; " ontouchstart="sendEvent(event, 'C-1'), show('popup1')"> <a><img src="/public/images/butt.png" width="300" height="300" alt=""/></a> </div>
		<div class="popup" id="popup1" style="position: fixed; left:0px; top: 0px; z-index: 100; display: none;"><a><img src="public/images/04_Brockenurwald.jpg" width="1920" height="1080" alt=""/></a></div>

	<div style="position: fixed; left:825px; top: 395px;  z-index: 19; " ontouchstart="sendEvent(event, 'C-2'), show('popup2')"> <a><img src="/public/images/butt.png" width="300" height="300" alt=""/></a> </div>
		<div class="popup" id="popup2" style="position: fixed; left:0px; top: 0px; z-index: 100; display: none;"><a><img src="public/images/02_Kampfzone.jpg" width="1920" height="1080" alt=""/></a></div>

	<div style="position: fixed; left:1425px; top: 210px; z-index: 9; " ontouchstart="sendEvent(event, 'C-3'), show('popup3')"> <a><img src="/public/images/butt.png" width="300" height="300" alt=""/></a> </div>
		<div class="popup" id="popup3" style="position: fixed; left:0px; top: 0px; z-index: 100; display: none;"><a><img src="public/images/02_Brockenkuppe.jpg" width="1920" height="1080" alt=""/></a></div>

</body>
</html>
