<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    <link href="public/loader.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/public/app.js" defer></script>
    </title>
  </head>

<body background="/public/images/02_Kampfzone.jpg">

	  <canvas id="loader_canvas" width="500" height="500" style="position:absolute; top: 58px; left:86px; z-index: 299;"> </canvas>
    <!-- <script src="public/loaderApp_03.js" charset="utf-8"></script> -->

	<div align="left"> </div>




</body>
</html>
