<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Topografie Brocken</title>
<link href="/public/app.css" rel="stylesheet" type="text/css">
<link href="public/loader.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/public/app.js" defer></script>




</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

	<canvas id="my_canvas" width="190" height="190"> </canvas>


<div class="bg_klima">


	<div class="silhouette">

		<div class="klima_head"> 	Klima </div>
		<div class="klima">

		<a href="/index"><img src="public/icons/klima.png" width="300" height="300"></a>
		</div>

		<div class="subs">

			<div class="iconwidth">
				<a class="iconfield" onclick="sendEvent(event, 'A-2_1', 'B-2_1', 'C-2_1')">
					<img src="public/images/play.png" width="150" height="150" alt=""/><br>
					<h1>Wetter</h1>
				</a>
		  </div>

			<div class="iconwidth">
				<a class="iconfield" onclick="sendEvent(event, 'A-2_2', 'B-2_2', 'C-2_2')">
					<img src="public/images/play.png" width="150" height="150" alt=""/><br>
					<h1>Wetter-<br>phänomene</h1>
				</a>
 			</div>


			<div class="iconwidth">
				<a class="iconfield" onclick="index.send(event, 'A-2_3', 'B-2_3', 'C-2_3')">
					<img src="public/images/play.png" width="150" height="150" alt=""/><br>
					<h1>Vegetation</h1>
				</a>
 			</div>

			<div class="iconwidth">
				<a class="iconfield" onclick="index.send(event, 'A-2_4', 'B-2_4', 'C-2_4')">
					<img src="public/images/play.png" width="150" height="150" alt=""/><br>
					<h1>Klimawandel</h1>
				</a>
 			</div>


		</div>

		<div class="icons">

			<div class="iconwidth">
			<a class="iconfield"  >
 			<img src="public/icons/geologie.png" width="150" height="150" alt=""/><br>
			<h1>Geologie</h1>
			</a>
		    </div>

			<div class="iconwidth">
			<a class="iconfield" onclick="send(event, 'A-2_0', 'B-2_0', 'C-2_0')" href="/klima" >
 			<img src="public/icons/klima.png" width="150" height="150" alt=""/><br>

			<h1>Klima</h1>
			</a>
		    </div>


			<div class="iconwidth">
			<a class="iconfield" onclick="send(event, 'A-3_0', 'B-3_0', 'C-3_0')" href="/lebensraeume" >
 			<img src="public/icons/lebensraeume.png" width="150" height="150" alt=""/><br>
			<h1>Lebensräume</h1>
			</a>
		    </div>


			<div class="iconwidth">
			<a class="iconfield">
 			<img src="public/icons/naturschutz.png" width="150" height="150" alt=""/><br>
			<h1>Naturschutz</h1>
			</a>
		    </div>


			<div class="iconwidth">
			<a class="iconfield">
 			<img src="public/icons/besuch.png" width="150" height="150" alt=""/><br>
			<h1>Besuch</h1>
			</a>
		  </div>

		</div>

  </div>


</div>

</body>


</html>
